



/* base */
@import './base/variables.css';
@import './base/animation.css';
@import './base/components.css';



/* pages */
@import './pages/home.css';

@import './pages/chat.css';
@import './pages/summary.css';
@import './pages/peek.css';

@import './pages/forum.css';
@import './pages/rpg_game.css';
@import './pages/pomodoro.css';

@import './pages/world_book.css';

@import './pages/settings_screen.css';
@import './pages/wallpaper.css';
@import './pages/storage.css';
@import './pages/customize.css';
@import './pages/tutorial.css';

@import './base/ending.css';

