#customize-screen .icon-custom-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    padding-bottom: 1px;
    border-bottom: 1px solid #f0f0f0;
}

#customize-screen .icon-custom-item:last-child {
    border-bottom: none;
}

#customize-screen .icon-preview {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    object-fit: cover;
    flex-shrink: 0;
}

#customize-screen .icon-details {
    flex-grow: 1;
}

#customize-screen .icon-details p {
    margin: 0 0 8px 0;
    font-weight: 600;
}

#customize-screen .icon-details input {
    width: calc(100% - 10px);
}

#customize-screen .reset-icon-btn {
    width: 60px;
    background: #e0e0e0;
    color: #555;
    border: none;
    border-radius: 8px;
    padding: 8px 10px;
    font-size: 12px;
    cursor: pointer;
    margin-left: 10px;
}

#global-css-presets-modal .modal-window{
        width:90%;
}

#global-css-presets-modal  .list-container{
        max-height:300px;
        overflow:auto;
        border:none;
        padding:0;
        border-radius:6px;
        margin-bottom:20px;
}

#global-css-presets-modal  .list-item{
        display:flex;
        padding:10px 0;
}

#global-css-presets-modal  .list-item-title{
        flex:1;
        min-width:0;
}

#global-css-presets-modal  .list-item-btn{
        display:flex;
        gap:6px;
}

#global-css-presets-modal  .list-item-btn .btn{
        padding:8px 10px;
        white-space: nowrap;
        border-radius:6px;
        font-size: 14px;
}