#world-book-selection-modal,
#invite-member-modal,
#group-recipient-selection-modal,
#global-pomodoro-world-book-selection-modal,
#select-persona-modal {
    z-index: 102;
}

#world-book-selection-modal .modal-window,
#invite-member-modal .modal-window,
#group-recipient-selection-modal .modal-window {
    width: 90%;
    max-width: 380px;
}

#world-book-selection-list,
#invite-member-selection-list,
#group-recipient-selection-list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 40vh;
    overflow-y: auto;
}

.world-book-select-item,
.invite-member-select-item,
.group-recipient-select-item {
    display: flex;
    align-items: center;
    padding: 12px 5px;
    border-bottom: 1px solid #f0f0f0;
}

.world-book-select-item:last-child,
.invite-member-select-item:last-child,
.group-recipient-select-item:last-child {
    border-bottom: none;
}

.world-book-select-item input[type="checkbox"],
.invite-member-select-item input[type="checkbox"],
.group-recipient-select-item input[type="checkbox"] {
    margin-right: 15px;
    width: 20px;
    height: 20px;
}

.world-book-select-item label,
.invite-member-select-item label,
.group-recipient-select-item label {
    font-weight: 500;
    color: var(--text-color);
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.invite-member-select-item img,
.group-recipient-select-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}


/* 各种底部弹窗/浮层 */
#multi-select-bar,
#sticker-modal,
#chat-expansion-panel,
#world-book-multi-select-bar,
.detail-reply-bar,
.favorites-manage-bar {
    padding-bottom: calc(10px + env(safe-area-inset-bottom)) !important;
}

