html {
    height: 100%;
    overflow: hidden;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}

html::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, and Opera */
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


/* 隐藏滚动条但保持滚动功能 - 标准方式 */
* {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}